header {
    background-color: red;
    margin-top: 0;
}

#headerDivLeft {
    padding: 1%;
}

body {
    margin: 0;
    background-color: black;
}

.imageContainer {
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
    height: auto;
}


#SearchInput {
    width: 50%;
    border: 3px solid #cc0000;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #8f3f3f;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #cc0000;
    background: #cc0000;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.searchDiv {
    margin: 4%;
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
}

#inputDiv {
    margin: 4%;
    width: 100%;
    position: relative;
    display: flex;
}

.searchResultDiv {
    display: flex;
    justify-content: space-around;
}

#top10Div {
    margin: 1%;
    width: 80%;
    display: flex;
    flex-direction: column;
}

#SearchResultDiv {
    display: flex;
    flex-direction: column;
}

.result {
    width:100%;
    height: auto;

    flex-direction: column;
    display: flex;
    justify-content: center;
}

.resultParent {
    display: flex;
    justify-content: center;
    margin-left: 19%;
    flex-direction: column;
    background-color: rgb(20, 20, 20);
    padding: 5%;
}


h2, p {
    color: white;
}

p {
    margin: 0;
}

.resultTitle {
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;
}

@media screen and (min-width: 1080px){
    .resultParent {
        display: flex;
        background-color: rgb(20, 20, 20);
        justify-content: center;
        flex-direction: row;
        margin-left: 0%;
    }

    .mainDiv {
        display: flex;
        flex-direction: row;
    }

    .result img {
        display: flex;
        justify-content: center;
    }

    .result {
        width: 30%;
        height: auto;
        margin: 5%;
        padding: 1%;
    }

    #top10Div {
        margin: 1%;
        width: 50%;
        position: relative;
        display: flex;
        flex-direction: column;
    }
}

